---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const { data: events } = await getEntry("data", "timeline");
---

<Layout fullscreen>
	<div class="mx-auto max-w-3xl">
		<div class="relative">
			<div
				id="timeline-bar"
				class="absolute left-0.5 top-4 -z-10 h-full w-0.5 overflow-hidden bg-slate-200 after:absolute after:left-0 after:top-0 after:h-4 after:w-0.5 after:-translate-y-full dark:bg-slate-800"
				aria-hidden="true"
			>
			</div>

			{
				events.map((event, i) => (
					<div class:list={["group", i > 0 && "pt-12"]}>
						<div class="md:flex">
							<div class="w-48 shrink-0">
								<div class="mb-3 inline-flex items-center text-sm font-medium text-slate-900 before:size-1.5 before:rounded-full before:bg-indigo-400 before:ring-4 before:ring-indigo-500/30 md:leading-8 dark:text-white dark:before:bg-indigo-500">
									<span class="ml-[1.625rem] md:ml-5">{event.date}</span>
								</div>
							</div>

							<div class="ml-8 grow border-b border-slate-900/10 pb-12 group-last-of-type:border-none group-last-of-type:pb-0 md:ml-0 dark:border-white/10">
								<h2 class="mt-0 pb-6 text-3xl font-bold">{event.name}</h2>

								<img
									class="not-prose mb-8 w-full rounded-xl"
									src="https://placehold.co/600x300"
									width="600"
									height="300"
								/>

								<p class="max-w-none">{event.description}</p>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
</Layout>

<style>
	#timeline-bar {
		mask-image: linear-gradient(0deg, transparent, #fff 150px, #fff);
	}

	#timeline-bar::after {
		animation: shine 3s linear 1s infinite;
		background-image: linear-gradient(
			180deg,
			transparent,
			theme("colors.indigo.500" / 65%) 25%,
			theme("colors.indigo.300") 50%,
			theme("colors.indigo.500" / 65%) 75%,
			transparent
		);
	}

	@keyframes shine {
		0% {
			top: 0;
			transform: translateY(-100%) scaleY(10);
			opacity: 0;
		}

		2% {
			opacity: 0.5;
		}

		40% {
			top: 100%;
			transform: translateY(0) scaleY(200);
			opacity: 0;
		}

		100% {
			top: 100%;
			transform: translateY(0) scaleY(1);
			opacity: 0;
		}
	}
</style>
