---
import { getCollection, type CollectionEntry } from "astro:content";
import PageLink from "./PageLink.astro";

interface Props {
	entries: CollectionEntry<"archive">[];
}

const pathname = Astro.url.pathname.slice(1);

async function getSiblingPages() {
	if (!pathname) return;

	const section = pathname.split("/").slice(0, 2).join("/");

	const entries = (
		await getCollection("archive", (entry) => entry.slug.startsWith(section))
	).sort((a, b) => a.data.meta.order - b.data.meta.order);

	const current = entries.findIndex((entry) => entry.slug === pathname);
	if (current === -1) return;

	const prev = entries[current - 1];
	const next = entries[current + 1];

	if (!prev && !next) return;

	return { prev, next };
}

const siblings = await getSiblingPages();
---

<footer class="mx-auto w-full space-y-10 pb-6 pt-16 lg:mx-0">
	<div class="flex">
		{siblings?.prev && <PageLink page={siblings.prev} previous />}
		{siblings?.next && <PageLink page={siblings.next} />}
	</div>

	<div
		class="flex flex-col items-center justify-between gap-5 border-t border-slate-900/5 pt-6 sm:flex-row dark:border-white/10"
	>
		<p class="text-xs text-slate-600 dark:text-slate-400">
			&copy; Copyright {new Date().getFullYear()}. All rights reserved.
		</p>

		<div class="flex gap-4"></div>
	</div>
</footer>
