---
import Header from "./Header.astro";
import Navigation from "./Navigation.astro";
---

<div
	id="mobile-nav"
	class="fixed inset-0 z-40 lg:hidden"
	role="dialog"
	x-data
	x-show="$store.mobileNav.open"
	@keydown.escape.window="$store.mobileNav.open = false"
>
	<div
		class="overlay fixed inset-0 top-14 h-dvh bg-slate-400/20 backdrop-blur-sm dark:bg-black/40"
		x-show="$store.mobileNav.open"
		x-transition:enter="transition ease-out duration-300"
		x-transition:enter-start="opacity-0"
		x-transition:enter-end="opacity-100"
		x-transition:leave="transition ease-in duration-200"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0"
	>
	</div>

	<template
		x-show="$store.mobileNav.open"
		x-transition:enter="transition ease-out duration-300"
		x-transition:enter-start="opacity-0"
		x-transition:enter-end="opacity-100"
		x-transition:leave="transition ease-in duration-200"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0"
	>
		<Header />
	</template>

	<div
		class="nav fixed bottom-0 left-0 top-14 h-[calc(100vh-3.5rem)] w-72 overflow-y-auto px-4 pb-4 pt-6 shadow-lg shadow-slate-900/10 ring-1 ring-slate-900/7.5 min-[416px]:max-w-sm sm:px-6 sm:pb-10 dark:bg-slate-950 dark:ring-slate-800"
		x-show="$store.mobileNav.open"
		x-transition:enter="transition ease-in-out duration-500"
		x-transition:enter-start="-translate-x-full"
		x-transition:enter-end="translate-x-0"
		x-transition:leave="transition ease-in-out duration-500"
		x-transition:leave-start="translate-x-0"
		x-transition:leave-end="-translate-x-full"
	>
		<Navigation />
	</div>
</div>

<script>
	document.addEventListener("alpine:init", () => {
		Alpine.effect(() => {
			document.documentElement.style.overflow = Alpine.store("mobileNav").open
				? "hidden"
				: "auto";
		});
	});

	// TODO: handle outside clicks
</script>

<style>
	dialog {
		--xyz-in-ease: theme("transitionTimingFunction.out");
		--xyz-out-ease: theme("transitionTimingFunction.in");

		--xyz-duration: 300ms;
	}

	dialog > .nav {
		--xyz-in-ease: theme("transitionTimingFunction.in-out");
		--xyz-out-ease: theme("transitionTimingFunction.in-out");

		--xyz-in-duration: 500ms;
		--xyz-out-duration: 300ms;
	}
</style>
