---
import { Menu } from "lucide-astro";
---

<button
	id="mobile-nav-btn"
	class="flex items-center justify-center rounded-md p-1.5 transition hover:bg-slate-900/5 dark:hover:bg-white/5"
	type="button"
	aria-label="Toggle navigation"
>
	<Menu class="size-4 text-slate-900 dark:text-white" />
</button>

<!-- TODO -->
