---
import { Search as SearchIcon } from "lucide-astro";
---

<div
	id="search"
	class="z-50"
	role="dialog"
	x-data
	x-show="$store.search.open"
	@keydown.slash.prevent.window="$store.search.open = true"
	@keydown.escape.window="$store.search.open = false"
>
	<div
		class="fixed inset-0 bg-slate-400/25 backdrop-blur-sm dark:bg-black/40"
		x-show="$store.search.open"
		x-transition:enter="transition ease-out duration 300"
		x-transition:enter-start="opacity-0"
		x-transition:enter-end="opacity-100"
		x-transition:leave="transition ease-in duration-200"
		x-transition:leave-start="opacity-100"
		x-transition:leave-end="opacity-0"
	>
	</div>

	<div
		class="fixed inset-0 overflow-y-auto px-4 py-4 sm:px-6 sm:py-20 md:py-32 lg:px-8 lg:py-[15vh]"
	>
		<div
			class="mx-auto transform-gpu overflow-hidden rounded-lg bg-slate-50 shadow-xl ring-1 ring-slate-900/7.5 sm:max-w-xl dark:bg-slate-900 dark:ring-slate-800"
			x-show="$store.search.open"
			x-transition:enter="transition ease-out duration-300"
			x-transition:enter-start="opacity-0 scale-95"
			x-transition:enter-end="opacity-100 scale-100"
			x-transition:leave="transition ease-in duration-200"
			x-transition:leave-start="opacity-100 scale-100"
			x-transition:leave-end="opacity-0 scale-95"
		>
			<div class="group relative h-12">
				<SearchIcon
					class="pointer-events-none absolute left-3.5 top-0 size-3.5 h-full text-slate-500"
				/>

				<input
					class="h-full flex-auto appearance-none bg-transparent pl-10 pr-4 text-slate-900 outline-none placeholder:text-slate-500 focus:w-full focus:flex-none sm:text-sm dark:text-white"
					type="search"
					placeholder="Search..."
					autocomplete="off"
					spellcheck="false"
				/>
			</div>
		</div>
	</div>
</div>

<script>
	const input = document.querySelector("input[type='search']") as HTMLInputElement;

	document.addEventListener("alpine:init", () => {
		Alpine.effect(() => {
			const { open } = Alpine.store("search");

			document.documentElement.style.overflow = open ? "hidden" : "auto";

			// Race condition workaround
			if (open) setTimeout(() => input.focus());
		});
	});

	document.getElementById("search")?.addEventListener("click", (event) => {
		if (!(event.target instanceof HTMLInputElement)) {
			Alpine.store("search").open = false;
		}
	});

	input.addEventListener("input", () => {
		// TODO
	});
</script>

<style>
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		display: none;
	}
</style>
